.wrapper {
  width: 50%;
  margin-top: 30px;
  line-height: 1.2em;
  .payment p {
    margin-top: 15px;
  }
  @media screen and (max-width: 1065px) {
    .wrapper {
      width: 90%;
      max-height: 500px;
      overflow-y: scroll;
    }
    .contentWrapper {
      grid-template-columns: 1fr;
    }
    .contentWrapper div {
      grid-column: 1/3;
    }
    .container {
      font-size: 20px;
      display: flex;
      align-items: center;
    }
  }

  display: flex;
  align-items: center;
  height: 80%;
  max-height: 800px;
  overflow-y: scroll;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  font-size: 25px;
  background-color: var(--color-base);
  border-radius: 20px;
  animation: fadeIn 1s ease-in-out forwards;
}
.contentWrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);

  color: var(--color-base);
}
.contentWrapper > .container:last-child {
  grid-column: 1/3;
  display: flex;
  align-items: center;
}
.container {
  display: flex;

  font-size: 20px;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 10px;
}
.container h2 {
  text-align: center;
}
.content {
  display: flex;
  gap: 10px;
  align-items: center;
}
.wrapper a {
  text-decoration: none;
  color: var(--color-base);
}
.payment {
  background-color: var(--color-primary);
  color: var(--color-base);
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.2em;
}
.payment p {
  margin-top: 15px;
}
@media screen and (max-width: 1065px) {
  .wrapper {
    width: 90%;
    max-height: 500px;
    overflow-y: scroll;
  }
  .contentWrapper {
    grid-template-columns: 1fr;
  }
  .contentWrapper div {
    grid-column: 1/3;
  }
  .container {
    font-size: 20px;
    display: flex;
    align-items: center;
  }
}
