.wrapper {
  max-width: 700px;
  width: 95%;
  height: 86%;
  max-height: 800px;
  overflow-y: scroll;
  border-radius: 20px;
  background-color: var(--color-base);
  padding: 20px 10px;
  font-size: 20px;
  text-wrap: wrap;
}
.wrapper strong {
  padding-left: 20px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .wrapper {
    max-height: 730px;
  }
}
