.label {
  font-size: var(--fz-sm);
}
.wrapper {
  margin-top: 10px;
  position: relative;
  padding: 6px 20px;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
}
.wrapper input {
  position: absolute;
  opacity: 0;
}
.content {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 6px 0;
  font-weight: bold;
  text-align: center;
  font-size: var(--fz-md);
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-base);
}
