.layout {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-y: hidden;
}
.main {
  padding-left: 100px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out forwards;
}

@media screen and (max-width: 500px) {
  .main {
    padding: 100px 10px 0;
    max-height: calc(100vh - 100px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
