.main {
  padding-left: 100px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.bgWrapper {
  top: 0;
  bottom: 0;
  left: 100px;
  z-index: -1;
  right: 0;
  background-image: url("/blur-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
@media screen and (max-width: 500px) {
  .main {
    padding-left: 0;
    padding-top: 65px;
    height: calc(100vh - 65px);
  }
  .bgWrapper {
    background-image: url("/bg.png");
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
