.linkList {
  animation: fadein 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.link {
  color: var(--color-base);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  &:hover {
    color: var(--color-text-hover);
    fill: var(--color-text-hover);
  }
}
.linkIcon {
  fill: var(--color-base);
}
.label {
  font-size: var(--fz-md);
  text-wrap: nowrap;
  flex-wrap: bold;
  -webkit-animation: fadein 0.5s ease-in-out; /* Safari and Chrome */
  -moz-animation: fadein 0.5s ease-in-out; /* Firefox */
  -o-animation: fadein 0.5s ease-in-out; /* Opera */
  animation: fadein 0.5s ease-in-out;
  font-size: var(--fz-md);
  white-space: nowrap;
  text-wrap: nowrap;
  flex-wrap: bold;
}

.active {
  color: var(--color-text-active);
  fill: var(--color-text-active);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
