.title {
  color: var(--color-text-dark);
  font-size: 76px;
  text-align: center;
  font-weight: 900;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}
.adminTitle {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 25px;
}
.adminSubtitle {
  color: var(--color-text-light);
  font-size: 22px;
}
.adminText {
  color: var(--color-text-dark);
  font-weight: bold;
  font-size: 24px;
}
.subtitle {
  color: var(--color-text-dark);
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 900;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}
.whiteSubtitle {
  color: var(--color-base);
  font-size: 25px;
  text-align: center;
  font-weight: 900;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 1150px) {
  .title {
    font-size: 65px;
  }
}
@media screen and (max-width: 740px) {
  .title {
    font-size: 50px;
  }
}
@media screen and (max-width: 590px) {
  .title {
    font-size: 40px;
  }
}
