:root {
  --color-primary: #3a1757;
  --color-hover: #5a1892;
  --color-pressed: #9331e3;
  --color-error: #ea1e2a;
  --color-success: #1bb22a;
  --color-text-light: #565656;
  --color-text-dark: #2a2a2a;
  --color-text-hover: #eb8258;
  --color-base: #fff;
  --color-gray-light: #f8fafc;
  --input-ease: cubic-bezier(0.65, 0.05, 0.36, 1);
  --fz-lg: 24px;
  --fz-md: 20px;
  --fz-sm: 16px;
}
