.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.modal {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
