.nav {
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  padding: 0px 20px;
  transition: max-height 0.4s ease-in-out;
  animation: fadeIn 1s ease-in-out forwards;
}
.expanded {
  max-height: 400px;
}
.normal {
  max-height: 65px;
}
.burger {
  animation: fadein 0.5s ease-in-out;
  cursor: pointer;
}
.close {
  animation: fadein 0.5s ease-in-out;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.menu {
  position: relative;
  height: 100%;
}
