.wrapper {
  position: absolute;
  right: 10%;
  top: 2%;
  z-index: 10;
}
.select {
  background: inherit;
  color: white;
  border: none;
  outline: none;
  font-size: 24px;
}
.select option {
  color: black;
}

@media screen and (max-width: 500px) {
  .wrapper {
    top: 10%;
  }
}
