.wrapper {
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 300;
}
.select {
  background: inherit;
  color: white;
  border: none;
  outline: none;
  font-size: 24px;
}
.select option {
  color: black;
}
